#meuNome{
    color: #ffffff;
    font-family: monospace;
}

#sobreMimTxt{
    color: #eee4e4;
    font-family: monospace;
    text-align: center;
    max-width: 360px;

    b{
      color: white
    }
}


@mixin linksFormatacao($cor, $corHover){
  transition: 0.4s;
  color: #ffffff;
  z-index: 46;
  margin-left: 10px;
  font-size: x-large;

  &:hover{
    color: $corHover;
  }
}

#github{
    @include linksFormatacao(#ffffff, #000000 )
}

#youtube{
    @include linksFormatacao(#ffffff, #ff0404 )
}

#linkedin{
    @include linksFormatacao(#ffffff, #449dfb )
}

#email{
    @include linksFormatacao(#ffffff, #e1ff49 )
}

#links{
  display: flex;
  justify-content: space-around;
}